bin
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/src/.vs
/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
*.trx
symbolCache.db
*.suo
/docs/output
/node_modules
/.fable
.adaptifycache
*.g
.fs*
.g.fs
.ionide
**/.idea/
.DS_Store
/src/Adaptify.Compiler/adaptify.fsproj.user
**/Adaptify.sln.DotSettings.user