type file
id Adaptify.MSBuild
authors Aardvark Platform Team
description Adaptify MSBuild plugin
developmentDependency true
dependencies
  Adaptify.Core = CURRENTVERSION
files
  Adaptify.MSBuild.targets ==> build